.container{
    max-width: 1440px;
    padding: 0 30px;
    margin: 0 auto;
}

.site-container{
    overflow: hidden;
}

.flex{
    display: flex;
}

.grid{
	display: grid;
}

.btn-reset{
	border: none;
	background-color: transparent;
	cursor: pointer;
	padding: 0;
}
