.header {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 100;
}

.header_container {
	height: 91px;
	justify-content: space-around;
	align-items: center;
	padding-top: 30px;
	padding-bottom: 27px;
}

.logo {
	display: inline-block;
	font-weight: 600;
	font-size: 24px;
	letter-spacing: -0.029em;
	color: var(--marine-color);
	padding-left: 49px;
	padding-bottom: 8px;
	transition: color 0.3s;
}

.logo:hover{
	color: var(--orange-accet-color);
	transition: color 0.3s;
}

.menu_container {
	width: 826px;
	justify-content: space-between;
	align-items: center;
	padding-left: 125px;
	padding-top: 5px;
}

.menu_header {
	width: 233px;
	justify-content: space-between;
}

.menu_item{
	height: 35px;
	padding-top: 6px;
}

.menu_link{
	font-size: 14px;
	color: var(--text-color);
}

.menu_link:hover{
	color: var(--orange-accet-color);
	transition: color 0.3s;
}

.item--home{
	border-bottom: 1px solid var(--text-color);
}

.header_btn{
	width: 150px;
	height: 50px;
	font-size: 14px;
	margin-top: 4px;
	text-transform: uppercase;
	color: var(--white-color);
	background-color: var(--marine-color);
	border-radius: 50px;
	transition: background-color 0.3s;
}

.header_btn:hover{
	background-color: var(--marine-accet-color);
	transition: background-color 0.3s;
}
